#
# mgetty configuration file
#
# this is a sample configuration file, see mgetty.info for details
#
# comment lines start with a "#", empty lines are ignored


# ----- global section -----
#
# In this section, you put the global defaults, per-port stuff is below

fido-send-emsi no

debug 5

speed 9600

issue-file /etc/issue.mgetty

port-owner uucp
port-group uucp
port-mode 0664

port ttyS0
  debug 9
  data-only yes
  init-chat "" ATZ OK 

